.navbar{
	
	background-color: #48D1CC !important;
}

.nav-link{
	font-weight: bold;
}

.fa-user, .fa-shopping-cart{
	font-size: 30px !important;
}

.main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30px;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.card1, .card2, .card3{
	display: flex;
	flex-direction: row;
	font-size: 25px;
	border: 2px solid black;
	height: 100px;
	width: 300px;
	margin-top: 5px;
	box-shadow: 2px 4px 5px #48D1CC;
	align-items: center;
	justify-content: center;
}

.fa-truck, .fa-envelope, .fa-map-marker{
	margin-right: 20px !important;
	font-size: 50px !important;
	color: #48D1CC !important;
}

#a, #b, #c{
	font-weight: bold;
	color: #48D1CC;
}

@media screen and (max-width: 600px){
	.card1, .card2 ,.card3{
		width: 100%
	}
}

#d{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}


/*.card{
	display: flex;
	justify-content: space-around;
	width: 250px;
	height: auto !important;
	
}*/

.card{
	margin-right: 20px;
	margin-bottom: 300px;
	width: 200px !important;
	height: 200px !important;
}

.card-text{
	text-align: center;
}

.btn-primary{
	width: 100%;
	background-color: #48D1CC;
	border-color: white;
}

.heading{
	color: #48D1CC;
}

#e, #k{
	font-size: 22px;
	column-gap: 30px;
}

.j{
	color: #48D1CC;
}



/*.backinstock{
	
	margin-top: 500px;
	margin-bottom: 500px;
}
*/
.carda, .cardb, .cardc, .cardd{
	width: 250px;
	height: 200px !important;
	margin-bottom: 500px;
}
*/

.cardbody{
	display: flex;
	justify-content: space-around;
	width: 250px;
	height: 200px !important;
}
.h1{
	text-align: center;
}

.footer{
	text-align: center;
	background-color: #48D1CC;
	height: 50px;
	width: 100%
}

.h1, .h3{
	color: #48D1CC;
	line-height: 5px;
}

.clothes{
	display: flex;
	flex-direction: row;
}

